<% page_title t(".title") %>

<table class="table table-striped">
  <thead>
    <th><%= t("activerecord.attributes.category.name") %></th>
    <th width="100"></th>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to t("admin.sub_categories.index.title"), admin_category_sub_categories_url(category) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
